<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h3 class="text-center top"style="color:#323773;line-height: 1.5;font-size: 40px;top: 8px;">Search Book</h3>
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Book Title</label>
                    <input type="text" name="booktitle" [(ngModel)]="booktitle" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readvalue()"  class="btn btn-success">Search</button>
                </div>
            </div>
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let j of searchData">
                    <div class="card h-100">
                        <img height="100px" width="500px" src="{{j.image}}"class="card-img-top" alt="...">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="font-weight: 700;">{{j.booktitle}}</li>
                                <li class="list-group-item">{{j.author}}</li>
                                <li class="list-group-item">{{j.description}}</li>
                                <a  class="btn btn-primary">Buy Now</a>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center g-3 pt-4">
                                    <button (click)="deleteClick(j.id)" class="btn btn-danger ">Delete</button>
                                </div>
                              </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        
